{% extends 'GeographProgdechBundle:Backend:backend_layout.html.twig' %}
{% set adminMenu = true %}

{% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        <article class="col-sm-9">
            <div id="map" class="h800"></div>
        </article>
        {% autoescape 'js'%}
        <script>     
            // Code général de la carte
            {{ include('GeographProgdechBundle:Backend:carte.js.twig') }}
            
            // Code spécifique de la carte
            map.fitBounds(commune.getBounds());
            
            marker = L.icon({
                iconUrl: '{{ marker.filename|raw }}',

                iconSize:     {{ marker.size|raw }},
                iconAnchor:   {{ marker.anchor|raw }},
                popupAnchor:  {{ marker.popupanchor|raw }}
            });
            
            {% for pointcollecte in pointscollecte %}
                marker{{ pointcollecte.id }} = L.marker([{{ pointcollecte.latitude }}, {{ pointcollecte.longitude }}], {icon: marker}).addTo(map);
                marker{{ pointcollecte.id }}.bindLabel(
                        '<h4>{{ pointcollecte.nom}}</h4>' +
                        '<p>X Bacs de type ?</p>' + 
                        '<p>X Bacs de type ?</p>');
                marker{{ pointcollecte.id }}.on('click', marker{{ pointcollecte.id }}Click);
                function marker{{ pointcollecte.id }}Click(){
                    document.location.href = "{{ app.request.basepath }}/admin/pointcollecte/{{ pointcollecte.id }}";
                }
            {% endfor %}
        </script>
        {% endautoescape %}
{% endblock %}
