{# src/Geograph/ProgdechBundle/Resources/views/Backend/Commune/menu.html.twig #}

<div class="col-sm-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title">{{ commune.nom }}</h3>
      </div>
      <div class="panel-body">
          <p>Superficie : {{ commune.superficie }} km²</p>
          <p>Population : {{ commune.populationactuelle }} hab</p>
          <p>Densité : {{ commune.densite }} hab/km²</p>
          <p>Nbr points de collecte : 
              {% if commune.nombrepointscollecte %}
                  {{ commune.nombrepointscollecte }}
              {% else %}
                  Pas de points de collecte référencés
              {% endif %}
              
          </p>
          <p>Nbr de bacs/colonnes : 
              {% if commune.nombrebacs %}
                  {{ commune.nombrebacs }}
              {% else %}
                  Pas de bacs référencés
              {% endif %}
          </p>
      </div>
    </div>
          
    <!-- Bacs classé par types -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% for type in commune.typebacs %}  
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" style="background-color: {{ type.color }};">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#type{{ type.id }}" aria-expanded="true" aria-controls="collapseOne">
                  {{ type.nom }}
                </a>
              </h4>
            </div>
            <div id="type{{ type.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  <ul>
                      <li class="list-unstyled">Points de collecte :</li>
                      <li class="list-unstyled">Bacs :</li>
                      <li class="list-unstyled">Tournée :</li>
                      <li class="list-unstyled">Points de collecte :</li>
                  </ul>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
          
</div>